html{
	width: 100%;
	height:100%; /* gives layout 100% height */
	overflow:inherit; /* triggers 100% height in Opera 9.5 */
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #666666 10%, #595959 12%, #474747 12%, #2c2c2c 15%, #000000 29%, #111111 73%, #1c1c1c 91%, #2b2b2b 100%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(10%,#666666), color-stop(12%,#595959), color-stop(12%,#474747), color-stop(15%,#2c2c2c), color-stop(29%,#000000), color-stop(73%,#111111), color-stop(91%,#1c1c1c), color-stop(100%,#2b2b2b), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#666666 10%,#595959 12%,#474747 12%,#2c2c2c 15%,#000000 29%,#111111 73%,#1c1c1c 91%,#2b2b2b 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#666666 10%,#595959 12%,#474747 12%,#2c2c2c 15%,#000000 29%,#111111 73%,#1c1c1c 91%,#2b2b2b 100%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#666666 10%,#595959 12%,#474747 12%,#2c2c2c 15%,#000000 29%,#111111 73%,#1c1c1c 91%,#2b2b2b 100%,#131313 100%); /* IE10+ */
	background: linear-gradient(top,  #4c4c4c 0%,#666666 10%,#595959 12%,#474747 12%,#2c2c2c 15%,#000000 29%,#111111 73%,#1c1c1c 91%,#2b2b2b 100%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#base {
    position: absolute;
    top:0;
    left: 0;
	margin-top:2%;
    height: 98%;
    width: 100%;
}

#Superior {
    width: 100%;
}

#Superior input {
    border: medium none;
    color: white;
    background-image: url("../img/imagen_prueba.png");
}

#resul{
	position: absolute;
	top: 80px;
    background-color: #C0C0C0;
    height: 80%;
    width: 100%;
}

#datos {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
    width:100%;
}

.fecha_evento{
	background-color: transparent;
    background-image:url("../img/spirtebandnessmovil_Busqueda.png");
	background-position: -581px -138px;
	border: none;
	margin: 0 10px;
	width:70px; 
	height:70px; 
	display: inline;
}

#zona {
    position: absolute;    
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 100;
}

#zona input {
	font-size: small;
    background-color: #404448;
    border: 2px gray outset;
    color: white;
    float: left;
    width:50%; 
    height:100%;
}

#Entrada_Bandness{
    background-image:url("../img/spirtebandnessmovil_40.png");
	background-repeat: no-repeat;
	background-position: -30px -250px;
}

h1 {
    color: white;
    display: inline-block;
    font-family: Tahoma;
    font-size: x-large;
    font-weight: bolder;
}

h2 {
	display: inline-block;
    color: gray;
    font-family: Tahoma;
    font-size: small;
    font-weight: normal;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    color: black;
    font-family: Tahoma;
    font-size: xx-small;
    font-weight: bolder;
    width: 100%;
    padding-top: 1px;
}