/* 
    Document   : banda_menuprincipal
    Created on : Feb 24, 2012, 3:17:46 PM
    Author     : kiko
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


html, body{
    top:5%;
    background: black;
    height: 95%;
	overflow:inherit; /* triggers 100% height in Opera 9.5 */
}

#wrapper {
	height:100%; /* gives layout 100% height */
	text-align: center; 
}

#form {
	height:98%; /* gives layout 100% height */
}

#base{
	height:98%;
	width: 98%;
	color:#FFFFFF; 
	background-color: #4a4f5a; 
	border-radius: 5px; 
	margin:2px 5px;
	display: inline-block;
	font-size:120%;
}
   
#resul{
	background-color: #C0C0C0; 
	border-radius: 5px; 
	width:95%;
	height:80%;
	display: inline-block;
	margin: 1.5% 0 0 0;
}

h1{
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: medium;
    color: white;
    height: 5%;
    width: 96%;
    display: inline-block;
}

input{
    height: 18px;
}

button {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bolder;
    display: inline-block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px; 
    border:none;
    height:2em;
    width: 3.5em;
}

a{
    text-decoration: none;
    font-size:1em;
}

#nav-wrapper {
	width: 100%;
	height: 11%;
	overflow: hidden;
	display: inline-block;
	padding-left: 1px;
}
ul#nav {
    font-family: Verdana;
    font-size:18px;
    list-style:none;
    padding: 0;

}
ul#nav li {
    display:block;
    margin: 0 auto;
}
ul#nav li a {
    text-decoration:none;
    display: block;
    margin:0 auto;
    height:1.5em;
    line-height: 20px;
    width: 24.5%;
    background:#5F3222;
    color:#eee;
    float:left;
    text-align:center;
    border-radius: 5px;
    border-top:1px solid #815444;
    border-right:1px solid #3d1000;
    border-bottom:1px solid #3d1000;
    border-left:1px solid #815444;
}
ul#nav li a:hover {
    background:#a37666;
    color:#000;
    border-radius: 5px;
    border-top:1px solid #815444;
    border-right:1px solid #c59888;
    border-bottom:1px solid #c59888;
    border-left:1px solid #815444;
}