html{
	width: 100%;
	height:100%; /* gives layout 100% height */
	overflow:inherit; /* triggers 100% height in Opera 9.5 */
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#base {
	position: absolute;
    background-color: #C0C0C0;
	left: 0;
	top:0;
    height: 100%;
    width: 100%;    
}

.filas{
    background-color: #C0C0C0;
}


#bandas {
    width: 100%;  
    border-spacing: 0px 1px;
}

.nombres{
	width: 75%;
}

.logo{
	width: 25%;
	padding: 6px 0px;
}

h1 {
    color: white;
    display: inline-block;
    font-family: Tahoma;
    font-size: medium;
    font-weight: bolder;
    height: 30px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #666666 10%, #595959 12%, #474747 12%, #2c2c2c 15%, #000000 29%, #111111 73%, #1c1c1c 91%, #2b2b2b 100%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(10%,#666666), color-stop(12%,#595959), color-stop(12%,#474747), color-stop(15%,#2c2c2c), color-stop(29%,#000000), color-stop(73%,#111111), color-stop(91%,#1c1c1c), color-stop(100%,#2b2b2b), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#666666 10%,#595959 12%,#474747 12%,#2c2c2c 15%,#000000 29%,#111111 73%,#1c1c1c 91%,#2b2b2b 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#666666 10%,#595959 12%,#474747 12%,#2c2c2c 15%,#000000 29%,#111111 73%,#1c1c1c 91%,#2b2b2b 100%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#666666 10%,#595959 12%,#474747 12%,#2c2c2c 15%,#000000 29%,#111111 73%,#1c1c1c 91%,#2b2b2b 100%,#131313 100%); /* IE10+ */
	background: linear-gradient(top,  #4c4c4c 0%,#666666 10%,#595959 12%,#474747 12%,#2c2c2c 15%,#000000 29%,#111111 73%,#1c1c1c 91%,#2b2b2b 100%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

h2 {
	display: inline-block;
    color: grey;
    font-family: Tahoma;
    font-size: medium;
    font-weight: bolder;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
