/* 
    Document   : banda_menuprincipal
    Created on : Feb 24, 2012, 3:17:46 PM
    Author     : kiko
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



html{
	width: 100%;
	height:100%; /* gives layout 100% height */
	overflow:inherit; /* triggers 100% height in Opera 9.5 */
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #666666 10%, #595959 12%, #474747 12%, #2c2c2c 15%, #000000 29%, #111111 73%, #1c1c1c 91%, #2b2b2b 100%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(10%,#666666), color-stop(12%,#595959), color-stop(12%,#474747), color-stop(15%,#2c2c2c), color-stop(29%,#000000), color-stop(73%,#111111), color-stop(91%,#1c1c1c), color-stop(100%,#2b2b2b), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#666666 10%,#595959 12%,#474747 12%,#2c2c2c 15%,#000000 29%,#111111 73%,#1c1c1c 91%,#2b2b2b 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#666666 10%,#595959 12%,#474747 12%,#2c2c2c 15%,#000000 29%,#111111 73%,#1c1c1c 91%,#2b2b2b 100%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#666666 10%,#595959 12%,#474747 12%,#2c2c2c 15%,#000000 29%,#111111 73%,#1c1c1c 91%,#2b2b2b 100%,#131313 100%); /* IE10+ */
	background: linear-gradient(top,  #4c4c4c 0%,#666666 10%,#595959 12%,#474747 12%,#2c2c2c 15%,#000000 29%,#111111 73%,#1c1c1c 91%,#2b2b2b 100%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#cover {
	position: fixed; 
	height: 100%; 
	width: 100%; 
	top:0; 
	left: 0; 
	background: #000; 
	z-index:9999;
}

#base {
	margin-top:2%;
    color: #FFFFFF;
    display: inline-block;
    font-size: 120%;
    height: 98%;
    left: 0;
    position: absolute;
    width: 100%;
}

#Busqueda {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    heigth: 10%;
    width: 100%;
}

#fecha_evento{
	background-color: transparent;
    background-image:url("../img/spirtebandnessmovil_Busqueda.png");
	background-repeat: no-repeat;
	background-position: -582px -137px;
	text-align: center;
	border: none;
}

#resul{
	position: absolute;
	top: 80px;
    display: inline-block;
    height: 80%;
    width: 100%;
}


#datos {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
    width:100%-40px;
}

#botones {
    position: absolute;
    bottom: 15%;
    heigth: 10%;
    width: 90%;
}

#botones input {
	background-color: transparent;
    background-image:url("../img/spirtebandnessmovil_40.png");
	background-repeat: no-repeat;
	text-align: center;
	border: none;
}

#Asistir{
	font-size: large;
}

.por_confirmar{
	background: -814px -150px;
}

.confirmado{
	background: -814px -207px;
}


#mapa{
	background-position: -818px -110px;
}

#zona {
    bottom: 0;
    display: inline-block;
    height: 60px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 100;
}

#zona input {
	font-size: small;
    background-color: #404448;
    border: medium none;
    box-shadow: 0 0 10px #FFFFFF inset;
    color: white;
    float: left;
}


#Entrada_Bandness{
	background-color: transparent;
    background-image:url("../img/spirtebandnessmovil_40.png");
	background-repeat: no-repeat;
    border: medium none;
    box-shadow: 0 0 3px #FFFFFF inset;
    color: white;
    float: left;
	background-position: -20px -250px;
	text-align: center;
}

h1 {
    color: white;
    display: inline;
    font-family: Tahoma;
    font-size: large;
    font-weight: bolder;
    height: 5%;
    width: 100%;

}

h2 {
	display: inline-block;
    color: gray;
    font-family: Tahoma;
    font-size: small;
    font-weight: bolder;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
	display: inline-block;
    color: white;
    font-family: Tahoma;
    font-size: x-small;
    font-weight: bolder;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    color: black;
    font-family: Tahoma;
    font-size: small;
    font-weight: bolder;
    width: 100%;
    padding-top: 10px;
}
