/* 
    Document   : inicio
    Created on : Feb 22, 2012, 17:10:40 PM
    Author     : kiko
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


html{
	width: 100%;
	height:100%; /* gives layout 100% height */
	overflow:inherit; /* triggers 100% height in Opera 9.5 */
	background:white; 
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#base{
	margin-top: 10%;
	height:90%;
	width: 100%;
}

#logo{
	background-color: transparent;
    background-image:url("../img/spirtebandnessmovil_Busqueda.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height:240px; /* gives layout 100% height */
	width: 200px;
	display: inline-block;
}

#zona{
	width: 100%;
	height: 50%;
}

#zona input{
	height: 100%;
    width: 90%;
}

.Corr{
	background-color: transparent;
    background-image:url("../img/spirtebandnessmovil_40.png");
	background-position: -508px -336px;
	border: none;
	width: 20px;
	height: 20px;
}

.Wrong{
	background-color: transparent;
    background-image:url("../img/spirtebandnessmovil_40.png");
	background-position: -508px -371px;
	border: none;
	width: 20px;
	height: 20px;
}

h1{
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: medium;
    color: black;
    display: inline;
}

h2{
    font-family: Tahoma, "Times New Roman", Times, serif;
    font-size: small;
    color: green;
}

h3{
    font-family: Tahoma, "Times New Roman", Times, serif;
    font-size: small;
    color: red;
}

button {
    display: inline-block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border:none;
}

#Registrar{
	background-color: transparent;
    background-image:url("../img/spirtebandnessmovil_40.png");
	background-repeat: no-repeat;
	background-position: -31px -405px;
	height:45px; /* gives layout 100% height */
	width: 110px;
}

#Entrar{
	background-color: transparent;
    background-image:url("../img/spirtebandnessmovil_40.png");
	background-repeat: no-repeat;
	background-position: -142px -405px;
	height:45px; /* gives layout 100% height */
	width: 90px;
}


